<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Preroom</title>
</head>
<body>
    <p class="logo"><span style="color: #8526fa;">Vox</span><span style="font-weight: 100">um</span><sup style="font-size: 19px;">α</sup></p>  
    <main>
        
        <div class="form-container">
            <form action="/auth" method="GET" id="test">
                <h2>Join room</h2>
                <label for="username"><p>Username</p></label>
                <input  name="username" id="username"><br><br>
    
                <label for="roomuuid"><p>Room ID</p></label>
                <input name="roomuuid" id="roomuuid"><br><br>
                <button>Join</button>
            </form>
        </div>
        <div class="form-container">
            <form action="/room/create" method="POST">
                <h2>Create room</h2>
                <p style="text-align: left;">Dit is een anonymous room, dus hiervoor hoef je je niet te verifieren. Het nadeel is dat proximity call niet wordt ondersteund.</p>
                <label for="username"><p>Username</p></label>
                <input type="text" name="username" id="username"><br><br>
                <button type="submit">Create</button>
            </form>
        </div>
            
    </main>
    
</body>
<script>
    // Tijdelijke hack voor https://github.com/Mohagames205/voxum-client/issues/5
    navigator.mediaDevices.getUserMedia({
        video: false,
        audio: true
    }).catch(function(err){
        Swal.fire({
                title: 'Error!',
                text: 'Voxum heeft microfoontoegang nodig om te werken! De website zal niet correct werken.',
                icon: 'error',
                confirmButtonText: 'Sluiten'
            })
    });


</script>
</html>